.filter-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.filter-btn {
  padding: 12px 24px;

  color: var(--brand-color);
  background-color: var(--light-bg-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border: 1px solid var(--accent-color);
  border-radius: 4px;
  transition: color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func),
    border-color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);
}

.filter-btn:hover,
.filter-btn:focus {
  border: 1px solid transparent;
  color: var(--white-color);
  background-color: var(--acive-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/* ===== /FILTER ===== */

/* ===== EXAMPLES ===== */
.examples-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.examples-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.examples-item {
  flex-basis: calc((100% - 24px * 2) / 3);
  transition: box-shadow var(--transition-dur-and-func);
}

.examples-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.examples-link {
  display: block;
  transition: box-shadow var(--transition-dur-and-func);
}

.examples-link:focus .examples-overlay {
  transform: translateY(0%);
}

.examples-link:hover,
.examples-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.examples-overlay-container {
  position: relative;
  overflow: hidden;
}

.examples-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 40px 32px;
  background-color: var(--brand-color);
  color: var(--light-bg-color);
  transform: translateY(100%);
  transition: transform var(--transition-dur-and-func);
}

.examples-item:hover .examples-overlay,
.examples-item:focus .examples-overlay {
  transform: translateY(0%);
}

.example-description {
  padding: 32px 16px 32px 16px;
  border-left: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  transition: border-color var(--transition-dur-and-func);
}

.example-description:hover {
  border-color: var(--light-bg-color);
}
